[submodule "vendor/libkrun"]
	path = vendor/libkrun
	url = https://github.com/boxlite-ai/libkrun.git
[submodule "vendor/libkrunfw"]
	path = vendor/libkrunfw
	url = https://github.com/boxlite-ai/libkrunfw.git
[submodule "vendor/e2fsprogs"]
	path = vendor/e2fsprogs
	url = https://github.com/tytso/e2fsprogs.git
[submodule "vendor/bubblewrap"]
	path = vendor/bubblewrap
	url = https://github.com/containers/bubblewrap.git
